<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tatu.essay" >

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="com.tatu.essay.broadcast.permission"
        android:protectionLevel="normal" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_fav"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.essay.EssayCreateActivity" />
        <activity android:name=".ui.user.RegisterActivity" />
        <activity android:name=".ui.essay.EssayDetailActivity" />
        <activity android:name=".ui.main.GuiderActivity" />
        <activity android:name=".ui.user.LoginActivity" />
        <activity android:name=".ui.main.HomeActivity" />
        <activity android:name=".ui.main.LauncherActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UPDATE_APP_KEY"
            android:value="ab55ce55Ac4bcP408cPb8c1Aaeac179c5f6f" />
        <!--
      <receiver
            android:name=".service.receiver.AccountUpdateReceive"
            android:permission="com.essay.spider.broadcast.permission">
            <intent-filter>
                <action android:name="android.intent.action.spider.update.account" />
            </intent-filter>

        </receiver>
        -->
        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>